<header class="header-frame">
  <div class="header-inner">
    <div class="logo">
      <%= link_to image_tag("rice.png", class:"rice-icon"), "/" %>
        <%= link_to 'title', root_path , class: "header-logo" %>
    </div>
    <form class="form2">
      <input type="search" class="Search-form-input" placeholder="search" />
      <button class="Search-form-button"><i class="fa fa-search"></i></button>
    </form>
    <% if user_signed_in? %>
      <nav class="header-nav">
        <div class="header-nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "button-pulse" %>  
        </div>
        <div class="header-nav-item">
          <%= link_to '新規投稿', new_food_path, class: "button-pulse2" %>    
        </div>
      </nav>
    <% else %>
      <nav class="header-nav">
        <div class="header-nav-item">
          <%= link_to 'ログイン',  new_user_session_path, class: "button-pulse" %>  
        </div>
        <div class="header-nav-item">
          <%= link_to '新規登録', new_user_registration_path, class: "button-pulse2" %>    
        </div>
      </nav>
    <% end %>
  </div>
</header>