<%= render "shared/header" %>
<div class="wrapper-out">
  <div class="wrapper">
    <div class="main">
      <div class="container">
        <ul class="food-lists">
          <% @foods.each do |food| %>
            <li class="list">
              <%= link_to food_path(food.id) do %>
                <div class="food-img-tag">
                  <%= image_tag food.image , class: "food-img" %> 
                </div>      
                <div class="food-info">
                  <%= food.name %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

