<div class="foods-show-contents">
<%= render "shared/header" %>
  <div class="foods-show-main">
  <%# 写真 %>
    <div class="img-example">
      <div class="show-img">
        <%= image_tag @food.image ,class:"food-box-img" %>
      </div>
      <%# 編集・削除ボタン %>
      <div class="action-example">
        <div class="delete-edit">
          <% if user_signed_in? %>
            <% if current_user.id == @food.user.id %>
              <div class="show-delete">
                <%= link_to '編集', edit_food_path(@food.id), method: :get, class: "button-delete" %>
              </div>
              <div class="show-edit">
                <%= link_to '削除', food_path(@food.id) , method: :delete, class:'button-edit' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <%# 店舗説明 %>
        <div class="show-example">
          <div class="detail-text">
              店舗の感想
          </div>
          <div class="detail-value">
            <%= @food.example %>
          </div>
        </div>
      </div>
    </div>
    <%# 店舗名 %>
    <div class="food-shop">
      <div class="show-name"> 
        <div class="shop-text">
          店舗名
        </div>
        <div class="shop-name">
          <%= @food.name %>
        </div>
      </div>
    </div>
    <%# エリアと予算とおすすめ一品！ %>
    <div class="area-price">
      <div class="show-area">
        <ul>
          <li class="show-category">
            エリア
          </li>
          <li class="show-prefecture-category">
            <%= @food.prefecture.name %>
          </li>
        </ul>
      </div>
      <div class="show-price">
        <ul>
          <li class="show-category">
            予算
          </li>
          <li class="show-price-category">
            <%= converting_to_jpy(@food.price) %>
          </li>
        </ul>
      </div>
      <div class="show-price">
        <ul>
          <li class="show-category">
            おすすめ一品！
          </li>
          <li class="show-price-category">
            <%= @food.menue %>
          </li>
        </ul>
      </div>
    </div>
    <%# コメント機能 %>
    <div class="food-menue">
      <%= form_with(model:[@food, @comment], local: true) do |f| %>
        <div class="show-comment">
          <%= f.text_field :comment, class:"comment-text",  placeholder:"例）こんにちは"%>
          <%= f.submit "コメント送信", id:"comment-btn", class:"comment-btn" %>
        </div>
      <% end %>
      <div id="comments", class="comments-field">
        <h3 class="comment-list-text">＜ コメント一覧 ＞</h3>
        <% @comments.each do |comment| %>
          <li class="comments_list ">
            <%= comment.comment %>
            <%= comment.user.nickname %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>