<div class="foods-show-contents">
<%= render "shared/header" %>
  <div class="foods-show-main">
  <div class="img-example">
    <div class="show-img">
      <%= image_tag @food.image ,class:"food-box-img" %>
    </div>
    <div class="action-example">
      <div class="delete-edit">
        <div class="show-delete">
          <a href="#!" class="button-delete">BUTTON</a>
        </div>
        <div class="show-edit">
          <a href="#!" class="button-edit">BUTTON</a>
        </div>
      </div>
      <div class="show-example">
        <div class=detail-text>
          <%# <div class="text-example"> %>
            店舗説明
          <%# </div> %>
        </div>
        <div class="detail-value">
          <%= @food.example %>
        </div>
      </div>
    </div>
  </div>
  <div class="food-shop">
    <div class="show-name"> 
      <div class="shop-text">
        店舗名
      </div>
      <div class="shop-name">
        <%= @food.name %>
      </div>
    </div>
  </div>
  <div class="area-price">
    <div class="show-area">
    </div>
    <div class="show-price">
    </div>
  </div>
  <div class="food-menue">
    <div class="show-menue">
    </div>
  </div>
</div>
<%= render "shared/footer" %>